@import "./normalize.scss";
@import "./variables.scss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary-bg-light: #{$color-primary-bg-light};
  --color-secondary-bg-light: #{$color-secondary-bg-light};
  --color-primary-bg-dark: #{$color-primary-dark};
  --color-accent-bg: #{$color-accent};
  --color-primary-text: #{$color-primary-dark};
  --color-secondary-text: #{$color-primary-light};
  --color-accent-text: #{$color-accent};

  --font-family-primary: #{$font-family-primary};
  --font-line-height-primary: #{$font-line-height-primary};

  --font-weight-regular: #{$font-weight-regular};
  --font-weight-medium: #{$font-weight-medium};
  --font-weight-bold: #{$font-weight-bold};

  --font-size-primary: #{$font-size-primary};
  --font-size-middle: #{$font-size-middle};
  --font-size-small: #{$font-size-small};
  --font-size-h1: #{$font-size-h1};
  --font-size-h2: #{$font-size-h2};
  --font-size-h3: #{$font-size-h3};

  --color-primary-placeholder: #{$color-primary-placeholder};

  --color-gradient-bg-orange: #{$color-gradient-bg-orange};
  --color-gradient-bg-light: #{$color-gradient-bg-light};

  --color-primary-link: #{$color-primary-link};
  --color-hovered-link: #{$color-hovered-link};
}

a {
  font-weight: var(--font-weight-bold);
  color: var(--color-primary-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-hovered-link);
}

h1 {
  font-size: var(--font-size-h1);
}

body {
  background-color: var(--color-primary-bg-light);
  color: var(--color-primary-text);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-primary);
  line-height: var(--font-line-height-primary);
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}
