@import "./fonts.scss";
// fonts
$font-family-primary: "Trebuchet MS";
$font-weight-primary: 400;
$font-weight-link: 500;
$font-size-primary: 16px;
$font-size-middle: 19px;
$font-size-small: 14px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-bold: 48px;

// colors
$color-primary-light: #ffffff;
$color-primary-dark: #2a2a2a;

$color-primary-bg-dark: #2a2a2a;
$color-secondary-bg-light: rgba(54, 54, 54, 0.04);
$color-primary-bg-light: #fffbf8;

$color-primary-placeholder: #929292;

$color-primary-bg-button: #f9a43f linear-gradient(to bottom, #f9a43f, #fb791b);

$color-primary-link: #3430ec;
$color-secondary-link: #1f1d97;

$color-primary-orange: #faaf00;
