.aboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: var(--width-main-container);
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;

  .aboutPageDescription {
    font-size: var(--font-size-middle);
  }

  .aboutPageInf {
    display: flex;
    justify-content: center;
    gap: 20px;

    @media (max-width: 852px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 32%;
  border-radius: 12px;
  padding: 20px;
  background-color: var(--color-bg-light);
  box-shadow: 4px 4px 16px 0px var(--color-shadow-border);

  @media (max-width: 852px) {
    max-width: 400px;
    width: 100%;
  }

  .cardPhoto {
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }

  .cardName {
    display: flex;
    align-items: center;
    gap: 8px;

    h3 {
      white-space: nowrap;
    }
  }

  .cardGithubLink {
    display: flex;
  }

  .cardGithub {
    width: 20px;
    height: 20px;
    color: var(--color-primary-text);
    cursor: pointer;
    transition: ease-in-out 0.2s;

    &:hover {
      color: var(--color-hovered-btn);
    }
  }

  .cardRole {
    color: var(--color-hovered-btn);
  }

  .cardContribution {
    list-style: disc;
    padding-left: 10px;
  }
}

.rss {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  .rssLogoLink {
    width: 50%;
    display: flex;
  }

  .rssLogo {
    width: 100%;
    height: auto;
    color: var(--color-primary-text);
    cursor: pointer;
    transition: ease-in-out 0.2s;

    &:hover {
      color: var(--color-hovered-btn);
    }
  }

  .rssText {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    font-size: var(--font-size-middle);
  }
}
