@import "../../../app/styles/input.scss";

.errorMessage {
  color: var(--font-color-error);
}

.wrapper {
  display: flex;
  position: relative;
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  height: 100%;
}

.input {
  @extend %input;
}

.inputImgWrapper {
  height: 20px;
  width: 40px;
  position: absolute;
  cursor: pointer;
  top: calc(50% - 10px);
  right: 6px;
  background: none;
  border: none;
  &:hover {
    transform: scale(1.04);
  }
  &:active {
    transform: scale(1);
  }
}

.inputError {
  border: 1px solid var(--font-color-error);
}
