@import "../../../../app/styles/variables.scss";

.profileContainer {
  max-width: var(--width-main-container);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 30px;
  padding: 40px 20px;

  .profileWelcomeText {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
      position: relative;
      padding-left: 20px;
      line-height: var(--font-line-height-secondary);

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        background-color: orange;
        width: 6px;
        border-radius: 3px;
        top: 0;
        left: 0;
        height: 100%;
      }
    }

    span {
      opacity: 0.5;
    }
  }

  .profile {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: $width-tablet) {
      flex-direction: column;
    }
  }
}
