.profileContainer {
  max-width: var(--width-main-container);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 30px;
  padding: 40px 20px;

  .profileWelcomeText {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
      position: relative;
      padding-left: 20px;
      line-height: 1;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        background-color: orange;
        width: 6px;
        border-radius: 3px;
        top: 0;
        left: 0;
        height: 100%;
      }
    }

    span {
      opacity: 0.5;
    }
  }

  .profile {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .profileMenu {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .profileList {
        display: flex;
        flex-direction: column;
        align-content: center;
        line-height: var(--font-line-height-list);
        padding: 30px;
        border-radius: 12px;
        min-width: 230px;
        background-color: var(--color-bg-light);
        box-shadow: var(--shadow-card-primary);
        font-size: var(--font-size-middle);
        font-weight: var(--font-weight-bold);

        .link:hover {
          color: var(--color-accent-text);
          cursor: pointer;
        }

        .menuActive {
          color: var(--color-accent-text);
        }

        .addressBookTitle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          .arrowIcon {
            width: 15px;
            height: 15px;
            transform: rotate(90deg);
          }
        }

        ul {
          li {
            padding-left: 20px;
            font-size: var(--font-size-primary);
          }
        }
      }
    }

    .profileInfo {
      display: flex;
      flex-direction: column;
      gap: 30px;
      flex: 0 0 60%;

      .profileInfoItem {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid var(--color-border-profile);
        line-height: var(--font-line-height-list);
        padding-bottom: 6px;

        span:first-child {
          opacity: 0.5;
        }
      }

      .changePasswordButton {
        background: var(--color-bg-light);
        color: var(--color-accent-text);
        font-size: var(--font-size-middle);
        border-radius: 10px;
        border: 2px solid var(--color-accent-bg);
        width: 50%;
        height: 35px;
        transition: ease-in-out 0.3s;

        &:hover {
          cursor: pointer;
          background: var(--color-hovered-btn);
          color: var(--color-secondary-text);
          border: none;
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}
