.footer_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .socials {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: auto;

    .socials_items {
      display: flex;
      gap: 10px;
    }
  }
}
