.footer_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .socials {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: auto;

    img:hover {
      filter: invert(40%) sepia(90%) saturate(1000%);
    }
  }
}
