.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: var(--width-main-container);
  padding: 30px;
  margin: 0 auto;

  .cartIcon,
  .cartText {
    color: var(--color-empty-cart);
  }

  .cartText {
    font-size: var(--font-size-large);
  }
}
