.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  pointer-events: all;
  opacity: 1;
  transition: opacity 0.5s ease;
  transform: translateY(0);
  top: 20px;

  &.hidden {
    transform: translateY(-100vh);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 310px;
  height: 120px;
  padding: 20px;
  background-color: var(--color-bg-light);
  border-radius: 8px;
  transition: transform 0.7s ease;
  transform: translateY(0);
  box-shadow: 0px 0px 10px 2px var(--color-shadow-border);

  div {
    display: flex;
    gap: 10px;
  }

  button {
    width: 100px;
    height: 30px;
    background: var(--color-gradient-bg-orange);
    color: var(--color-secondary-text);
    font-size: var(--font-size-middle);
    border-radius: 10px;
    border: none;
    transition: ease-in-out 0.3s;

    &:hover {
      cursor: pointer;
      background: var(--color-hovered-btn);
    }

    &:active {
      transform: scale(0.95);
    }
    &:disabled {
      background: var(--color-disabled-bg);
      cursor: default;
      transform: none;
    }
  }

  p {
    text-align: center;
  }

  &.hidden {
    transform: translateY(-100vh);
  }
}
