@import "../../../../app/styles/variables.scss";

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 20px;

  .navLink {
    white-space: nowrap;
    transition: ease-in-out 0.2s;
    color: var(--color-secondary-text);

    &:hover {
      color: var(--color-hovered-btn);
    }
  }

  @media (max-width: $width-mobile-big) {
    flex-direction: column;
    gap: 0;
  }
}
