.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1160px;
  padding: 20px 30px;
  margin: 0 auto;

  .aboutUsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    border-radius: 30px;
    box-shadow: var(--shadow-card-primary);
    // padding: 140px 0;
    // background: url("../../../public/assets/stones-bg.jpg") no-repeat center / cover;
    width: 100%;

    img {
      border-radius: 30px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .aboutUsContent {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 25px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
    .aboutUsText {
      max-width: 450px;
      font-size: var(--font-size-middle);
    }
  }

  .catalogContainer {
    width: 100%;

    .catalog {
      display: grid;
      grid-template-columns: repeat(2, 1fr) auto;
      grid-template-rows: repeat(2, 1fr);
      gap: 15px;

      div {
        box-shadow: var(--shadow-card-primary);
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &:hover img {
          filter: brightness(70%);
          transform: scale(1.05);
        }

        img {
          border-radius: 10px;
          transition: ease-in-out 0.3s;
        }

        .cardText {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          padding: 10px;
          background-color: var(--color-primary-bg-dark);
          color: var(--color-secondary-text);
          font-size: var(--font-size-middle);
          border-radius: 0 0 10px 10px;
        }
      }

      div:first-child {
        grid-column: 1;
        grid-row: 1 / span 2;
        width: 540px;
        max-height: 380px;
        margin-right: 20px;
      }

      div:not(:first-child) {
        max-width: 255px;
        max-height: 175px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .specialsContainer {
    width: 100%;

    .promoWrapper {
      position: relative;
      max-height: 472px;
      box-shadow: var(--shadow-card-primary);
      border-radius: 30px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
      }

      .gradientImg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }

    .specialsContent {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      font-size: var(--font-size-h3);
      font-weight: var(--font-weight-bold);

      span:first-child {
      }
    }
  }
}
