.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  a {
    font-weight: var(--font-weight-regular);
    color: var(--color-primary-text);
  }

  .crumb::after {
    content: ">";
    margin-left: 10px;
  }
  .crumb:last-child::after {
    display: none;
  }

  .crumb:last-child {
    opacity: 0.5;
  }
}
