@import "../../../../app/styles/variables.scss";

.logo {
  @media (max-width: $width-mobile-big) {
    display: none;
  }
}

.header {
  width: 100%;
  background: var(--color-primary-bg-dark);

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px 30px;
    margin: 0 auto;
    color: var(--color-secondary-text);
    max-width: var(--width-header-container);

    @media (max-width: $width-mobile-big) {
      padding: 20px 10px;
    }
  }
}

.imgs {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cart {
  transition: ease-in-out 0.2s;
  color: var(--color-secondary-text);

  &:hover {
    color: var(--color-hovered-btn);
  }
}
