.formWrapper {
  display: flex;
  flex: 0 1 700px;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  min-width: 400px;
  min-height: 400px;
  border-radius: 12px;
  padding: 60px;
  background-color: var(--color-bg-light);
  box-shadow: 4px 4px 16px 0px var(--color-shadow-border);
}

.title {
  text-align: center;
  font-size: var(--font-size-large);
}

.line {
  width: 100%;
  max-width: 400px;
  height: 4px;
  background-color: var(--color-primary-bg-dark);
}
