@import "../../../../app/styles/variables.scss";

.productList {
  display: flex;
  flex-direction: column;
  width: 65%;
  flex: 0 0 auto;
  gap: 20px;

  @media (max-width: $width-laptop) {
    width: 100%;
    order: 1;
  }
}
