.catalogPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 40px 10px;

  .catalogImg {
    max-width: 500px;
    max-height: 500px;
    border-radius: 30px;
    box-shadow: var(--shadow-card-primary);
  }
  img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
  }
}
