.slider {
  width: 100%;
  height: 100%;

  & div {
    height: 100%;
  }
}

.slick-slider {
  position: static;
  width: 100%;

  .slick-list {
    width: 100%;
    max-width: 100%;
  }

  .slick-slide {
    width: 100%;
    max-width: 100%;

    & div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & img {
      max-width: 100%;
      height: auto;
    }
  }

  .slick-prev,
  .slick-next {
    right: 100%;
    left: 30px;

    &:before {
      color: black;
    }
  }

  .slick-prev {
    top: 0%;
    bottom: 100%;
    transform: rotate(90deg);
  }

  .slick-next {
    top: 100%;
    bottom: 0%;
    transform: rotate(90deg) translate(-100%, 0);
  }
}

.slick-dots {
  width: auto;
  position: absolute;
  transform: translate(0%, 50%);
  top: 50%;
  left: 0;
  bottom: 50%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;

  & li {
    margin: 0;
    width: 84px;
    height: 84px;
  }
}

.custom-pagination {
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--color-primary-border);

  .slick-active & {
    border: 3px solid var(--color-accent-text);
  }
}
