.footer {
  background-color: var(--color-primary-bg-dark);
  color: var(--color-secondary-text);
  width: 100%;

  .footer_container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    margin: 0 auto;

    span {
      display: flex;
      justify-content: center;
      color: var(--color-accent-text);
      font-size: var(--font-size-middle);
      transition: ease-in-out 0.2s;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }

    @media (max-width: 550px) {
      flex-direction: column;
      gap: 20px;
    }
  }
}
