@import "../../../../app//styles//variables.scss";

.aboutUsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1110px;
  gap: 40px;
  border-radius: 30px;
  box-shadow: var(--shadow-card-primary);

  img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .aboutUsContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    @media (max-width: $width-laptop) {
      gap: 10px;
    }
  }

  button {
    font-size: var(--font-size-primary);
  }

  .aboutUsText {
    max-width: 450px;
    font-size: var(--font-size-middle);

    @media (max-width: $width-laptop) {
      font-size: var(--font-size-small);
    }

    @media (max-width: $width-mobile-big) {
      line-height: 1;
      p:nth-child(2) {
        display: none;
      }
    }
  }
}
