@import "../../../app/styles/variables.scss";

.errorList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 4px;

  @media (max-width: $width-tablet) {
    grid-template-columns: 1fr;
  }

  .errorItem {
    display: flex;
    gap: 4px;
    align-items: center;

    span {
      opacity: 0.5;
      font-size: var(--font-size-small);
    }
  }
}
