@import "../../../../app/styles/variables.scss";

.productItem {
  display: flex;
  align-items: center;
  gap: 10px;

  .productImage {
    width: 94px;
    height: 94px;
    margin: 0 auto;

    img {
      width: 100%;
      border-radius: 12px;
      height: auto;
    }
  }

  .productInfoWrapper {
    display: flex;
    align-items: center;
    width: 86%;
    padding: 10px;
    gap: 10px;
    justify-content: space-between;
  }

  .productName {
    font-weight: var(--font-weight-bold);
  }

  .productInfo {
    max-width: 400px;
  }

  .oldPrice {
    text-decoration: line-through;
  }

  .productControls {
    display: flex;
    gap: 16px;

    .button {
      width: 24px;
      height: 24px;
      background-color: var(--color-categories-arrow-button);
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        background: var(--color-gradient-bg-orange);
        color: var(--color-secondary-text);
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}

.productPriceQuantity {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 50%;
  justify-content: space-between;

  @media (max-width: $width-mobile-big) {
    flex-direction: column;
  }
}

.delete {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;

  &:hover {
    filter: invert(40%) sepia(90%) saturate(1000%);
  }

  &:active {
    transform: scale(0.9);
  }
}
