.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.2s;

  img {
    width: 145px;
    height: 50px;
  }

  &:hover {
    transform: scale(1.05);
  }
}
