@import "../../../../../../app/styles/variables.scss";

.container {
  position: absolute;
  inset: 0 0 0 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
  height: 100vh;
}

.categoriesWrapper {
  background-color: var(--color-primary-bg-light);
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: var(--width-main-container);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: var(--categories-shadow);

  @media (max-width: $width-mobile-big) {
    top: 84px;
  }
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 250px;
  padding: 20px 30px;
  border-right: var(--color-categories-arrow-button) 2px solid;

  .categoriesItem {
    display: flex;
    flex-direction: column;
    background: transparent;
    text-align: start;
    padding: 4px 0px;

    .link {
      width: 100%;
      display: flex;
    }
  }
}

.subCategoriesList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 280px;
  position: absolute;
  left: 250px;
  top: 66px;

  @media (max-width: $width-mobile-big) {
    position: static;
    max-height: 100%;
  }

  li {
    padding: 20px;

    @media (max-width: $width-mobile-big) {
      padding: 20px 0 0 20px;
    }
  }

  a {
    color: var(--color-primary-text);
    font-weight: var(--font-weight-regular);
  }
  a:hover {
    cursor: pointer;
    color: var(--color-hovered-btn);
  }
}

.link {
  color: var(--color-primary-text);
  transition: ease-in-out 0.2s;
  width: 100%;

  &:hover {
    cursor: pointer;
    color: var(--color-hovered-btn);
  }
}

.arrow {
  margin-left: 10px;
  height: 20px;
  width: 20px;
  background: none;
  padding: 4px;
  color: var(--color-categories-arrow-button);
  transition: ease-in-out 0.2s;

  &:hover {
    cursor: pointer;
    color: var(--color-hovered-btn);
  }
}

.rotatedArrow {
  @media (max-width: $width-mobile-big) {
    transform: rotate(90deg);
    padding: 0;
  }
}

.close {
  border-bottom: var(--color-categories-arrow-button) 2px solid;
  border-right: var(--color-categories-arrow-button) 2px solid;
  padding: 16px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .closeButton {
    color: var(--color-primary-text);
    transition: ease-in-out 0.2s;
    background: none;
    padding: 4px;

    &:hover {
      cursor: pointer;
      color: var(--color-hovered-btn);
    }
  }
}
