@import "../../../../app/styles/variables.scss";

.aboutStoreContainer {
  max-width: 1110px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: $width-laptop) {
    max-width: 600px;
  }

  h2 {
    @media (max-width: $width-large-laptop) {
      align-self: center;
    }
  }

  .aboutStoreContent {
    display: flex;
    gap: 2%;

    @media (max-width: $width-laptop) {
      flex-direction: column;
      gap: 20px;
    }

    .aboutStoreText {
      flex: 0 0 49%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (max-width: $width-tablet) {
        font-size: var(--font-size-small);
      }

      @media (max-width: $width-laptop) {
        order: 2;
        text-align: center;
      }
    }

    .aboutStoreImg {
      flex: 0 0 49%;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        border-radius: 10px;
      }

      @media (max-width: $width-laptop) {
        order: 1;
      }
    }
  }
}
