@import "../../../../../app/styles/variables.scss";

.userAddressItem {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  gap: 20px;
  width: 350px;
  min-height: 250px;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--color-bg-light);
  box-shadow: var(--shadow-card-primary);

  @media (max-width: $width-main-container) {
    width: 100%;
  }

  .userAddressContainer {
    border: 1px solid var(--color-border-profile);
    padding: 10px;
    border-radius: 4px;

    span {
      font-weight: var(--font-weight-bold);
    }
  }

  .addressActions {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .actionsIcons {
      display: flex;
      align-items: center;
      gap: 2px;

      svg {
        width: 25px;
        height: 25px;
        cursor: pointer;
        transition: ease-in-out 0.2s;

        &:hover {
          filter: invert(40%) sepia(90%) saturate(1000%);
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }

    .actionsDefault {
      display: flex;
      gap: 8px;
      font-size: var(--font-size-small);
      font-style: italic;

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  .label {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .box {
    position: relative;
    cursor: pointer;
    align-items: flex-end;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    border: 1px solid var(--color-shadow-border);
    border-radius: 4px;
  }

  .checkImg {
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 4px;
    height: 4px;
    opacity: 0;
    transition: all 0.2s ease;
  }

  input:checked ~ .box .checkImg {
    opacity: 1;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 0px;
    width: 24px;
    height: 24px;
  }
}
