.productCardWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 260px;
  height: 455px;
  padding: 10px;
  background-color: var(--color-bg-light);
  border-radius: 14px;
  box-shadow: 2px 2px 8px 0px var(--color-shadow-border);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  &:hover {
    transform: scale(1.01);
  }
}
.discountWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
}

.discount {
  height: 30px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary-text);
  border-radius: 10px;
  background-color: var(--color-button-bg);
}

.mainInfo {
  flex-grow: 1;
}

.productImgWrapper {
  display: flex;
  padding-bottom: 20px;
  max-height: 150px;
  width: 100%;
  justify-content: center;
  align-items: center;
  & .productImg {
    max-height: 150px;
    contain: content;
    object-fit: contain;
  }
}

.pictogramms {
  display: flex;
  justify-content: space-around;
  height: 26px;
  width: 100%;
}

.title {
  width: 100%;
  text-align: center;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
}

.description {
  display: -webkit-box;
  font-style: italic;
  font-size: var(--font-size-small);
  max-height: 60px;
  text-align: center;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pictogrammImage {
  width: 20px;
  height: 20px;
}

.prices {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  justify-content: space-around;
  padding: 10px 0;
}

.oldPrice {
  position: relative;
  color: var(--color-shadow-border);
  &::after {
    content: "";
    width: 120%;
    height: 2px;
    border-radius: 10px;
    background-color: var(--color-primary-bg-dark);
    position: absolute;
    transform: rotate(-20deg);
    top: 50%;
    right: -10%;
  }
}

.actualPrice {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-middle);
}

.button {
  background: var(--color-bg-light);
  color: var(--color-hovered-btn);
  border: 2px solid var(--color-hovered-btn);

  &:hover {
    background: var(--color-hovered-btn);
    color: var(--color-secondary-text);
    border: transparent;
  }
}

.link {
  color: var(--color-secondary-text);
  transition: color 0.2s ease;
}

.cardButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
