@import "../../../../app/styles/variables.scss";

.summaryWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 32%;

  @media (max-width: $width-laptop) {
    width: 100%;
    order: 0;
  }

  .summary {
    position: sticky;
    top: 10px;
    left: 0;
    display: flex;
    width: 100%;
    align-self: flex-start;
    flex-direction: column;
    background-color: var(--color-bg-light);
    box-shadow: var(--shadow-card-primary);
    font-size: var(--font-size-middle);
    border-radius: 12px;
    padding: 30px;
    gap: 20px;
  }
}

.totalPrice {
  span {
    font-weight: var(--font-weight-bold);
  }
}

.strikethrough {
  text-decoration: line-through;
}

.inputWrapper {
  position: relative;
}

.addButton {
  position: absolute;
  border-radius: 0 8px 8px 0;
  width: 38px;
  height: 36px;
  bottom: 2px;
  right: 2px;
  background-color: var(--color-bg-orange-light);
  border: 1px solid var(--color-border-profile);
  cursor: pointer;
  transition: all ease-in-out 0.2s;

  &:hover {
    background: var(--color-gradient-bg-orange);
    color: var(--color-secondary-text);
  }

  &:active {
    transform: scale(0.95);
  }
}

.modalBuyNow {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;

  .loadingIcon {
    filter: invert(1);
    width: 100px;
    height: 100px;
  }
}

.cartEmptyIcon {
  margin: 20px 0;
}

.modalBody {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.promoCode {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-primary);
  gap: 10px;

  .codeWrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    button {
      width: 16px;
      height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-bg-orange-light);
      border-radius: 2px;
      border: 1px solid var(--color-border-profile);
      cursor: pointer;

      &:hover {
        background: var(--color-gradient-bg-orange);
        color: var(--color-secondary-text);
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  .codes {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
  }
}
