.categoriesItem {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  background: transparent;
  text-align: start;
  padding: 4px 0 4px 6px;
  width: 100%;

  .link {
    width: 100%;
    display: flex;
  }
}

.subCategoriesList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  left: 250px;
  top: 66px;

  li {
    padding-left: 20px;
    line-height: var(--font-line-height-list);
  }

  a {
    color: var(--color-primary-text);
    font-weight: var(--font-weight-regular);
  }
  a:hover {
    cursor: pointer;
    color: var(--color-hovered-btn);
  }
}

.link {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: var(--color-primary-text);
  transition: ease-in-out 0.2s;
  width: 100%;

  .button {
    background: transparent;
    padding: 0;
    cursor: pointer;

    &:hover .arrow {
      filter: invert(40%) sepia(90%) saturate(1000%);
    }
  }
}

.arrow {
  background: none;
  color: var(--color-categories-arrow-button);
  transition: ease-in-out 0.2s;
}

.link:hover,
.link:hover ~ .arrow {
  cursor: pointer;
  color: var(--color-hovered-btn);
}

.rotatedArrow {
  transform: rotate(180deg);
}
